<!DOCTYPE html>
<html>
<head>
    <title>Fake News Detector</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2 class="project-title">Artificial Intelligence IA III</h2>

<div class="container">
    <div class="card">

        <h1>Fake News Detector</h1>
        <p class="subtitle">Check whether a news article is real or fake</p>

        <form action="/predict" method="POST">
            <textarea name="news" placeholder="Enter News Here" required></textarea>
            <button type="submit">Analyze</button>
        </form>

        {% if prediction %}
            <div class="result 
                {% if 'REAL' in prediction %}real{% else %}fake{% endif %}">
                {{ prediction }}
            </div>

            <div class="confidence-box">
                <p>Confidence: {{ confidence }}%</p>
                <div class="progress">
                    <div class="progress-bar" style="width: {{ confidence }}%;"></div>
                </div>
            </div>
        {% endif %}

    </div>
</div>

</body>
</html>